{% extends "layout.html" %}
{% block title %}
    Activities
{% endblock %}
{% block activities %}
    active
{% endblock %}
{% block main %}
        <section class="spad">
            <div class="row">
            <div class="piccol">
                <figure class="img1">
                    <img class="acti" src="/static/img1.jpg" alt="student playing">
                    <figcaption>Student Playing</figcaption> 
                </figure>
                <p class="text1">sdkjfksjdfkdj ksdjfsdjf ksdjfkj fdjfsdj fjdsfkj djfjsd  dsjkfj dfjjfsdkj fdk fdskjdsf kjfkdsj fksd fkjsdkfjk sdfk fkd kfdj ksdjfkj sdkfjkjsd fkjsdfk fjkfsdjkf kjsfkjk fsksfjkjsf kksf kfsjk jsfkjskfj ksjdfk skdfk fsk jsfkj fk ksfdkjfksjf  sdfkj ksdjfks</p> 
                <p class="text1">fdjkj fkd ksdjf jsfd kjfkjfsd kf ksjfdkj fksj kf kj sfk fsjkjsfdk jfsk fj ksdj kjfskjksfd jksfjd jsdfkjk fsjk fsk ksfdjkjfsk jksf jkj fskj kfj kj sfkj ksfj kfjsk jfsk kfsjkj fskj sfkj kfsjk jfsk kfs kfsjk kfsj kfsjkj fskj fskj fskdjkfsjk jsfk jk fsjj ksdjkjfsd sdfjksd fksdf ksdjfkj kfsdjkfjds kjfdkj dskjfksdj fsdfjdf ksdjf sdkfjksdjf kdjfkjsdf jskdjfkjsdkf ksdjfkjsdk fs dfjksjdf ksdjkfjskdjf ksdkf jksdfjkjsdfkj skdj ksdjfk jskdfjksdfj jf</p>
            </div>
            <div class="piccol">
                <figure class="img2">
                    <img class="acti" src="/static/img2.jpg" alt="student playing">
                    <figcaption>Student Playing</figcaption> 
                </figure>
                <p class="text1">sdkjfksjdfkdj ksdjfsdjf ksdjfkj fdjfsdj fjdsfkj djfjsd  dsjkfj dfjjfsdkj fdk fdskjdsf kjfkdsj fksd fkjsdkfjk sdfk fkd kfdj ksdjfkj sdkfjkjsd fkjsdfk fjkfsdjkf kjsfkjk fsksfjkjsf kksf kfsjk jsfkjskfj ksjdfk skdfk fsk jsfkj fk ksfdkjfksjf  sdfkj ksdjfks fdjkj fkd ksdjf jsfd kjfkjfsd kf ksjfdkj fksj kf kj sfk fsjkjsfdk jfsk fj ksdj kjfskjksfd jksfjd jsdfkjk fsjk fsk ksfdjkjfsk jksf jkj fskj kfj kj sfkj ksfj kfjsk jfsk kfsjkj fskj sfkj kfsjk jfsk kfs kfsjk kfsj kfsjkj fskj fskj fskdjkfsjk jsfk jk fsjj ksdjkjfsd sdfjksd fksdf ksdjfkj kfsdjkfjds kjfdkj dskjfksdj fsdfjdf ksdjf sdkfjksdjf kdjfkjsdf jskdjfkjsdkf ksdjfkjsdk fs dfjksjdf ksdjkfjskdjf ksdkf jksdfjkjsdfkj skdj ksdjfk jskdfjksdfj jf</p>
            </div>
            </div>
            <div class="row">
            <div class="piccol">
                <figure class="img3">
                    <img class="acti" src="/static/img3.webp" alt="student playing">
                    <figcaption>Student Playing</figcaption> 
                </figure>
                <p class="text1">sdkjfksjdfkdj ksdjfsdjf ksdjfkj fdjfsdj fjdsfkj djfjsd  dsjkfj dfjjfsdkj fdk fdskjdsf kjfkdsj fksd fkjsdkfjk sdfk fkd kfdj ksdjfkj sdkfjkjsd fkjsdfk fjkfsdjkf kjsfkjk fsksfjkjsf kksf kfsjk jsfkjskfj ksjdfk skdfk fsk jsfkj fk ksfdkjfksjf  sdfkj ksdjfks fdjkj fkd ksdjf jsfd kjfkjfsd kf ksjfdkj fksj kf kj sfk fsjkjsfdk jfsk fj ksdj kjfskjksfd jksfjd jsdfkjk fsjk fsk ksfdjkjfsk jksf jkj fskj kfj kj sfkj ksfj kfjsk jfsk kfsjkj fskj sfkj kfsjk jfsk kfs kfsjk kfsj kfsjkj fskj fskj fskdjkfsjk jsfk jk fsjj ksdjkjfsd sdfjksd fksdf ksdjfkj kfsdjkfjds kjfdkj dskjfksdj fsdfjdf ksdjf sdkfjksdjf kdjfkjsdf jskdjfkjsdkf ksdjfkjsdk fs dfjksjdf ksdjkfjskdjf ksdkf jksdfjkjsdfkj skdj ksdjfk jskdfjksdfj jf</p>
            </div>
            <div class="piccol">
                <figure class="img4">
                    <img class="acti" src="/static/img4.jpg" alt="student playing">
                    <figcaption>Student Playing</figcaption> 
                </figure>
                <p class="text1">sdkjfksjdfkdj ksdjfsdjf ksdjfkj fdjfsdj fjdsfkj djfjsd  dsjkfj dfjjfsdkj fdk fdskjdsf kjfkdsj fksd fkjsdkfjk sdfk fkd kfdj ksdjfkj sdkfjkjsd fkjsdfk fjkfsdjkf kjsfkjk fsksfjkjsf kksf kfsjk jsfkjskfj ksjdfk skdfk fsk jsfkj fk ksfdkjfksjf  sdfkj ksdjfks fdjkj fkd ksdjf jsfd kjfkjfsd kf ksjfdkj fksj kf kj sfk fsjkjsfdk jfsk fj ksdj kjfskjksfd jksfjd jsdfkjk fsjk fsk ksfdjkjfsk jksf jkj fskj kfj kj sfkj ksfj kfjsk jfsk kfsjkj fskj sfkj kfsjk jfsk kfs kfsjk kfsj kfsjkj fskj fskj fskdjkfsjk jsfk jk fsjj ksdjkjfsd sdfjksd fksdf ksdjfkj kfsdjkfjds kjfdkj dskjfksdj fsdfjdf ksdjf sdkfjksdjf kdjfkjsdf jskdjfkjsdkf ksdjfkjsdk fs dfjksjdf ksdjkfjskdjf ksdkf jksdfjkjsdfkj skdj ksdjfk jskdfjksdfj jf</p>
            </div>
            </div>
        </section>
{% endblock %}
