{% extends "layout.html" %}
{% block title %}
    Annoucement
{% endblock %}
{% block annoucement %}
    active
{% endblock %}
{% block main %}
        <section class="spad">
            <div class="prog">
                <div id="foo"></div>
                <h1 class="annouch">Today is the Last Day!</h1>
                <p class="annp">sdkjfksjdfkdj ksdjfsdjf ksdjfkj fdjfsdj fjdsfkj djfjsd  dsjkfj dfjjfsdkj fdk fdskjdsf kjfkdsj fksd fkjsdkfjk sdfk fkd kfdj ksdjfkj sdkfjkjsd fkjsdfk fjkfsdjkf kjsfkjk fsksfjkjsf kksf kfsjk jsfkjskfj ksjdfk skdfk fsk jsfkj fk ksfdkjfksjf  sdfkj ksdjfks fdjkj fkd ksdjf jsfd kjfkjfsd kf ksjfdkj fksj kf kj sfk fsjkjsfdk jfsk fj ksdj kjfskjksfd jksfjd</p>
            </div>
            <div class="prog">
                <h1 class="annouch">Be sure to Register!</h1>
                <p class="annp">sdkjfksjdfkdj ksdjfsdjf ksdjfkj fdjfsdj fjdsfkj djfjsd  dsjkfj dfjjfsdkj fdk fdskjdsf kjfkdsj fksd fkjsdkfjk sdfk fkd kfdj ksdjfkj sdkfjkjsd fkjsdfk fjkfsdjkf kjsfkjk fsksfjkjsf kksf kfsjk jsfkjskfj ksjdfk skdfk fsk jsfkj fk ksfdkjfksjf  sdfkj ksdjfks fdjkj fkd ksdjf jsfd kjfkjfsd kf ksjfdkj fksj kf kj sfk fsjkjsfdk jfsk fj ksdj kjfskjksfd jksfjd</p>
            </div>
            <div class="prog">
                <h1 class="annouch">Classes Starts Tommorrow!</h1>
                <p class="annp">sdkjfksjdfkdj ksdjfsdjf ksdjfkj fdjfsdj fjdsfkj djfjsd  dsjkfj dfjjfsdkj fdk fdskjdsf kjfkdsj fksd fkjsdkfjk sdfk fkd kfdj ksdjfkj sdkfjkjsd fkjsdfk fjkfsdjkf kjsfkjk fsksfjkjsf kksf kfsjk jsfkjskfj ksjdfk skdfk fsk jsfkj fk ksfdkjfksjf  sdfkj ksdjfks fdjkj fkd ksdjf jsfd kjfkjfsd kf ksjfdkj fksj kf kj sfk fsjkjsfdk jfsk fj ksdj kjfskjksfd jksfjd</p>
            </div>
            <div class="prog">
                <h1 class="annouch">Register for the Sports before May 10th!</h1>
                <p class="annp">sdkjfksjdfkdj ksdjfsdjf ksdjfkj fdjfsdj fjdsfkj djfjsd  dsjkfj dfjjfsdkj fdk fdskjdsf kjfkdsj fksd fkjsdkfjk sdfk fkd kfdj ksdjfkj sdkfjkjsd fkjsdfk fjkfsdjkf kjsfkjk fsksfjkjsf kksf kfsjk jsfkjskfj ksjdfk skdfk fsk jsfkj fk ksfdkjfksjf  sdfkj ksdjfks fdjkj fkd ksdjf jsfd kjfkjfsd kf ksjfdkj fksj kf kj sfk fsjkjsfdk jfsk fj ksdj kjfskjksfd jksfjd</p>
            </div>
            <h1 class="proghead">Following student should visit office</h1>
            <ul>
                <li>1st year</li>
                <li>junior student</li>
                <li>biology studnets</li>
                <li>class 10th</li>
                <li>newly graudated</li>
                <li>midterm</li>
            </ul>
        </section>
{% endblock %}