{% extends "layout.html" %}
{% block title %}
    Main Page
{% endblock %}
{% block main %}
        <section class="spad1">    
            <div id="back-main">
                <div id="mai">
                    <div id="inhead"><h1 class="mainh">Join Some foundation for brighter Future</h1></div>
                    <div id="indexhead"><h1 class="mainh">This is the classics example of main page!</h1></div>
                    <p id="mainp"></p>
                </div>
            </div>
        </section>
{% endblock %}