<!DOCTYPE html>
<html lang="en">
    <head>
        <title>design</title>
        <link rel="stylesheet" href="/static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>
        <header class="teacherh">
            <div id="headert">
                <button id="add_student"><a href="/addStudent">Add Student</a></button>
                <button id="logout"><a href="/logout">Log Out</a></button>
                <button id="login"><a href="/teacher">Login</a></button>
            </div>
        </header>
        <main></main>
    </body>
</html>