{% extends "layout.html" %}
{% block title %}
    Programs
{% endblock %}
{% block program %}
    active
{% endblock %}
{% block main %}
        <section class="spad">
            <div class="prog">
                <h1 class="proghead">junior package</h1>
                <p class="progpara">sdfsd sdfsdf sdfsdfsdf sdf sdf sd fs d fs df sd fsd g fgfdghgdh fgh fg hgf h hjhgjghj gh j fhhfhfghdg fghfgh fgh fghfghfghfghfghf hfghfgh fghfghfg fgh fhf ftyt hfgdsd  h fgh  fghfdj fh fghfj  fgh fg h f gh f h fg h fghfjfghfgj fghf gj fg h fghfgh fhfhfgh fh f h fjf gh fj f hfjfghfg j fh f j  fhfj fh fjf ghf jfghf jfgh fj fg hfhf hf hff j fgh f j fgh f gj fdhfghfgttdg hfgjyf hf ghfty5dhdtghjgdsjkgdj kgdsjk gkjkdgjskjidgjdg kdgkdgijdg dsgjdijgd jdkjgdidij gkdjfgidj dgdjkjdidg dgkjdijdk dgjkjdsidjgk dkjkdgjidj gdkjdgkj dgijid kdjgkjdgkjidj dgjkdg jdijgd kdjidj dgjkjdg jkdgj digjg jdkjgdij gkjgidj gd9ijdgkj gdd g dgjkdgjdidgj jgdjidgj gdjdgk idgjdkjdg gdijgdngd gdjidg gdkjg didg gdngdkgjd</p>
            </div>
            <div class="prog">
                <h1 class="proghead">Middle package</h1>
                <p class="progpara">sdfsd sdfsdf sdfsdfsdf sdf sdf sd fs d fs df sd fsd g fgfdghgdh fgh fg hgf h hjhgjghj gh j fhhfhfghdg fghfgh fgh fghfghfghfghfghf hfghfgh fghfghfg fgh fhf ftyt hfgdsd  h fgh  fghfdj fh fghfj  fgh fg h f gh f h fg h fghfjfghfgj fghf gj fg h fghfgh fhfhfgh fh f h fjf gh fj f hfjfghfg j fh f j  fhfj fh fjf ghf jfghf jfgh fj fg hfhf hf hff j fgh f j fgh f gj fdhfghfgttdg hfgjyf hf ghfty5dhdtghjgdsjkgdj kgdsjk gkjkdgjskjidgjdg kdgkdgijdg dsgjdijgd jdkjgdidij gkdjfgidj dgdjkjdidg dgkjdijdk dgjkjdsidjgk dkjkdgjidj gdkjdgkj dgijid kdjgkjdgkjidj dgjkdg jdijgd kdjidj dgjkjdg jkdgj digjg jdkjgdij gkjgidj gd9ijdgkj gdd g dgjkdgjdidgj jgdjidgj gdjdgk idgjdkjdg gdijgdngd gdjidg gdkjg didg gdngdkgjd</p>
            </div>
            <div class="prog">
                <h1 class="proghead">Senior package</h1>
                <p class="progpara">sdfsd sdfsdf sdfsdfsdf sdf sdf sd fs d fs df sd fsd g fgfdghgdh fgh fg hgf h hjhgjghj gh j fhhfhfghdg fghfgh fgh fghfghfghfghfghf hfghfgh fghfghfg fgh fhf ftyt hfgdsd  h fgh  fghfdj fh fghfj  fgh fg h f gh f h fg h fghfjfghfgj fghf gj fg h fghfgh fhfhfgh fh f h fjf gh fj f hfjfghfg j fh f j  fhfj fh fjf ghf jfghf jfgh fj fg hfhf hf hff j fgh f j fgh f gj fdhfghfgttdg hfgjyf hf ghfty5dhdtghjgdsjkgdj kgdsjk gkjkdgjskjidgjdg kdgkdgijdg dsgjdijgd jdkjgdidij gkdjfgidj dgdjkjdidg dgkjdijdk dgjkjdsidjgk dkjkdgjidj gdkjdgkj dgijid kdjgkjdgkjidj dgjkdg jdijgd kdjidj dgjkjdg jkdgj digjg jdkjgdij gkjgidj gd9ijdgkj gdd g dgjkdgjdidgj jgdjidgj gdjdgk idgjdkjdg gdijgdngd gdjidg gdkjg didg gdngdkgjd</p>
            </div>
            <div class="prog">
                <h1 class="proghead">Exclusive package</h1>
                <p class="progpara">sdfsd sdfsdf sdfsdfsdf sdf sdf sd fs d fs df sd fsd g fgfdghgdh fgh fg hgf h hjhgjghj gh j fhhfhfghdg fghfgh fgh fghfghfghfghfghf hfghfgh fghfghfg fgh fhf ftyt hfgdsd  h fgh  fghfdj fh fghfj  fgh fg h f gh f h fg h fghfjfghfgj fghf gj fg h fghfgh fhfhfgh fh f h fjf gh fj f hfjfghfg j fh f j  fhfj fh fjf ghf jfghf jfgh fj fg hfhf hf hff j fgh f j fgh f gj fdhfghfgttdg hfgjyf hf ghfty5dhdtghjgdsjkgdj kgdsjk gkjkdgjskjidgjdg kdgkdgijdg dsgjdijgd jdkjgdidij gkdjfgidj dgdjkjdidg dgkjdijdk dgjkjdsidjgk dkjkdgjidj gdkjdgkj dgijid kdjgkjdgkjidj dgjkdg jdijgd kdjidj dgjkjdg jkdgj digjg jdkjgdij gkjgidj gd9ijdgkj gdd g dgjkdgjdidgj jgdjidgj gdjdgk idgjdkjdg gdijgdngd gdjidg gdkjg didg gdngdkgjd</p>
            </div>
        </section>
{% endblock %}